button{
    padding-top: 100px;
}

div, footer{
    text-align: center;
}

h1{
    padding-bottom: 50px;
}

footer{
    padding-bottom: 50px;
    padding-top: 50px;
    border-top: solid lightgrey 1px;
}

.anim-div{
    display: flex;
    justify-content: center;
    position: relative;
    gap: 15px;
    padding-bottom: 270px;
    padding-top: 250px;
}



.anim{
    width: 75px;
    height: 75px;
    background-color: cyan;
    display: inline-block;
    position: absolute;
    text-align: center;
    border-radius: 15%;
}